<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="assets/admin/images/favicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="../../../assets/admin/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="../../../assets/admin/plugins/notifications/css/lobibox.min.css" rel="stylesheet" />
	<link href="../../../assets/admin/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="../../../assets/admin/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<link href="../../../assets/admin/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="../../../assets/admin/css/pace.min.css" rel="stylesheet" />
	<script src="../../../assets/admin/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="../../../assets/admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="../../../assets/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

	<!-- <link href="../../../assets/lib/font-awesome/font-awesome.min.css" rel="stylesheet"> -->

	<link href="../../../assets/admin/css/app.css" rel="stylesheet">
	<link href="../../../assets/admin/css/icons.css" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="../../../assets/admin/css/paginator.css" />
	<link rel="stylesheet" href="../../../assets/admin/css/imageupload.css" />
	<link rel="stylesheet" href="../../../assets/admin/plugins/daterangepicker/daterangepicker.css" />

	<title>Admin - Home</title>
</head>

<body class="bg-theme">
	<!-- <div class="container">
		<div class="wrapper" id="root">
			<div class="overlay toggle-icon"></div>
			<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		</div>
	</div> -->
	<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
	<script src="../../../assets/lib/moment/moment.min.js"></script>
	<script src="../../../assets/admin/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="../../../assets/admin/js/jquery.min.js"></script>
	<script defer src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    	<script defer src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
	<script src="../../../assets/admin/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="../../../assets/admin/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="../../../assets/admin/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="../../../assets/admin/js/bootstrap-paginator.js"></script>
	<!-- <script src="../../../assets/admin/plugins/apexcharts-bundle/js/apexcharts.min.js"></script> -->
	<script src="../../../assets/admin/plugins/datatable/js/jquery.dataTables.min.js"></script>
	<script src="../../../assets/admin/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
	<script src="../../../assets/admin/plugins/apexcharts-bundle/js/apexcharts.js"></script>
	<script src="../../../assets/admin/plugins/notifications/js/lobibox.min.js"></script>
	<script src="../../../assets/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script src="../../../assets/admin/plugins/daterangepicker/daterangepicker.js"></script>
	<script src="../../../assets/js/notification.js"></script>
	<script src="../../../assets/js/admin/common.js"></script>
	

	<!-- <script src="../../../assets/admin/js/index.js"></script> -->
	<!--app JS-->
	<!-- <script src="../../../assets/admin/js/app.js"></script> -->
	<!-- <script>
		new PerfectScrollbar('.product-list');
		new PerfectScrollbar('.customers-list');
	</script> -->
</body>

</html>