<div class="sidebar-header">
	<div class="text-center">
		<h4 class="logo-text">ADMIN</h4>
	</div>
	<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
	</div>
</div>
<!--navigation-->
<ul class="metismenu" id="menu">
	<li class="mm-sidebar mm-active">
		<a onclick="changePage(this, 'dashboard')" id="page_dashboard">
			<div class="parent-icon"><i class='bx bx-home-circle'></i>
			</div>
			<div class="menu-title">Dashboard</div>
		</a>
	</li>
	<li class="menu-label">Management</li>
	<li class="mm-sidebar">
		<a onclick="changePage(this, 'account')" id="page_account">
			<div class="parent-icon"><i class='bx bxs-user-account'></i>
			</div>
			<div class="menu-title">Account</div>
		</a>
	</li>
	<li class="mm-sidebar">
		<a onclick="changePage(this, 'category')" id="page_category">
			<div class="parent-icon"><i class='bx bx-category' ></i>
			</div>
			<div class="menu-title">Category</div>
		</a>
	</li>
	<li class="mm-sidebar">
		<a onclick="changePage(this, 'food')" id="page_food">
			<div class="parent-icon"><i class='bx bx-dish' ></i>
			</div>
			<div class="menu-title">Food</div>
		</a>
	</li>
	<li class="mm-sidebar">
		<a onclick="changePage(this, 'request')" id="page_request">
			<div class="parent-icon"><i class='bx bx-comment-check'></i>
			</div>
			<div class="menu-title">Request</div>
		</a>
	</li>
	<li class="mm-sidebar">
		<a onclick="changePage(this, 'feedback')" id="page_feedback">
			<div class="parent-icon"><i class='bx bx-message-detail'></i>
			</div>
			<div class="menu-title">Feedback</div>
		</a>
	</li>
	<li class="mm-sidebar">
		<a onclick="changePage(this, 'donate')" id="page_donate">
			<div class="parent-icon"><i class='bx bx-money' ></i>
			</div>
			<div class="menu-title">Charity money</div>
		</a>
	</li>
</ul>
<!--end navigation-->